body {
			font-family: Arial, sans-serif;
			background-image: url();
		}
		.container {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
             overflow: hidden;
            position: relative;
		}
		.form-box {
			background-color: white;
			padding: 20px;
			box-shadow: 0px 0px 10px #ccc;
            position: relative;
		}
		.form-box h2 {
			margin-top: 0px;
			margin-bottom: 20px;
			text-align: center;
		}
		.form-box input[type="text"],
		.form-box input[type="email"],
		.form-box input[type="password"] {
			display: block;
			width: 100%;
			padding: 10px;
			margin-bottom: 10px;
			border: 1px solid #ccc;
			border-radius: 5px;
			box-sizing: border-box;
			font-size: 16px;
		}
		.form-box input[type="submit"] {
			background-color: #4CAF50;
			color: white;
			border: none;
			border-radius: 5px;
			padding: 10px 20px;
			font-size: 16px;
			cursor: pointer;
		}
		.form-box p {
			margin-top: 10px;
			text-align: center;
		}
		.form-box p a {
			color: #4CAF50;
			text-decoration: none;
			font-weight: bold;
		}
		.form-box form {
			display: flex;
			flex-direction: column;
		}
		.form-box .form-group {
			margin-bottom: 20px;
		}
		.form-box .form-group:last-child {
			margin-bottom: 0px;
		}
		.form-box .form-group label {
			display: block;
			margin-bottom: 5px;
			font-size: 16px;
			font-weight: bold;
		}
		.form-box .form-group input {
			display: block;
			width: 100%;
			padding: 10px;
			border: 1px solid #ccc;
			border-radius: 5px;
			box-sizing: border-box;
			font-size: 16px;
		}
        
         .demobg{
            opacity:0.2;
            position: absolute;
            left:0;
            right:0;
            width: 100%;
            height: auto;
        }
        a{
            text-decoration:none;
            color: #4CAF50;
        }
.bg-image {
  /* The image used */
  background-image: url("background.jpeg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Position text in the middle of the page/image */
.container {
  
  
  
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
        
